/*
https://www.fontsquirrel.com/
https://fonts.google.com/
*/
@font-face {
    font-family: open_sans;
    src: url(../font/opensans-regular-webfont.woff);
}

#id_f_fontsquirrel {
    font-family: open_sans;
}

#id_f_google {
    font-family: 'Chenla', cursive;
}
